body {
    margin: 0;
    font-family: Georgia, sans-serif;
    color: #9b7252;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}
.fotopincel{
    margin-top: 5%;
}
.fotocontador,
.fotopincel {
    width: 100%;
    height: auto;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-item {
    margin: 0 20px;
}

.countdown-number {
    font-size: 70px;
    font-weight: bold;
    color: #565554;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-label {
    font-size: 45px;
    color: #777;
}

.botones-container {
    position: absolute;
    top: 620%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 1000px;
}

.boton-izquierdo,
.boton-derecho {
    margin: 5px 170px;
}

.gallery-container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.boton-confirmar {
    margin-top: -21%;
    margin-bottom: 20px;
}

.boton {
    display: inline-block;
    padding: 20px 40px;
    background-color: #9b7252;
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    font-size: 20px;
}

.nuestra-fiesta {
    width: 100%;
    height: auto;
}

.boton-encuesta {
    display: inline-block;
    padding: 20px 40px;
    margin: 5px;
    font-size: 20px;
    color: #fff;
    background-color: #9b7252;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 100px;
    
}

@media (max-width: 320px) {
    .fotocontador {
        width: 100%;
    }
    .fotopincel {
        margin-top: 10%;
    }
    .countdown-number {
        font-size: 20px;
    }
    .countdown-label {
        font-size: 9px;
    }
    .boton-izquierdo,
    .boton-derecho {
        margin: 5px 33px;
    }
    .boton{
        font-size: 7px;
        padding: 2px 10px;
    }
    .botones-container {
        top: 192%;
    }
    .boton-encuesta{
        font-size: 7px;
        padding: 3px 10px;
    }
    .boton-confirmar{
        bottom: 50%;
    }
}

@media (min-width: 321px) and (max-width: 376px) {
    .fotopincel {
        margin-top: 10%;
    }
    
    .fotocontador {
        width: 100%;
    }
    
    .countdown-number {
        font-size: 25px; 
    }
    
    .countdown-label {
        font-size: 12px; 
    }
    
    .botones-container {
        top: 149%;
    }
    
    .boton-izquierdo,.boton-derecho{
        margin: 10px 40px;
    }

    .boton {
        padding: 3px 10px;
        font-size: 8px;
    }
    
    .boton-encuesta {
        font-size: 10px;
        padding: 3px 10px;
    }
}

@media (min-width: 377px) and (max-width: 382px) {
    .fotopincel {
        margin-top: 10%;
    }
    
    .fotocontador {
        width: 100%;
    }
    
    .countdown-number {
        font-size: 25px; 
    }
    
    .countdown-label {
        font-size: 12px; 
    }
    
    .botones-container {
        top: 151%;
    }
    
    .boton-izquierdo,.boton-derecho{
        margin: 10px 40px;
    }

    .boton {
        padding: 3px 10px;
        font-size: 8px;
    }
    
    .boton-encuesta {
        font-size: 10px;
        padding: 3px 10px;
    }
}

@media (min-width: 382px) and (max-width: 391px) {
    .fotopincel {
        margin-top: 10%;
    }
    
    .fotocontador {
        width: 100%;
    }
    
    .countdown-number {
        font-size: 25px; 
    }
    
    .countdown-label {
        font-size: 12px; 
    }
    
    .botones-container {
        top: 154.5%;
    }
    
    .boton-izquierdo,.boton-derecho{
        margin: 10px 40px;
    }

    .boton {
        padding: 3px 10px;
        font-size: 8px;
    }
    
    .boton-encuesta {
        font-size: 10px;
        padding: 3px 10px;
    }
}

@media (min-width: 392px) and (max-width: 400px) {
    .fotopincel {
        margin-top: 10%;
    }
    
    .fotocontador {
        width: 100%;
    }
    
    .countdown-number {
        font-size: 25px; 
    }
    
    .countdown-label {
        font-size: 12px; 
    }
    
    .botones-container {
        top: 158.2%;
    }
    
    .boton-izquierdo,.boton-derecho{
        margin: 10px 40px;
    }

    .boton {
        padding: 3px 10px;
        font-size: 8px;
    }
    
    .boton-encuesta {
        font-size: 10px;
        padding: 3px 10px;
    }
}

@media (min-width: 401px) and (max-width: 420px) {
    .fotopincel {
        margin-top: 10%;
    }
    
    .fotocontador {
        width: 100%;
    }
    
    .countdown-number {
        font-size: 30px; 
    }
    
    .countdown-label {
        font-size: 15px; 
    }
    
    .botones-container {
        top: 166%;
    }
    
    .boton-izquierdo,.boton-derecho{
        margin: 10px 50px;
    }

    .boton {
        padding: 3px 10px;
        font-size: 8px;
    }
    
    .boton-encuesta {
        font-size: 12px;
        padding: 3px 10px;
    }
}

@media (min-width: 421px) and (max-width: 480px) {
    .fotopincel {
        margin-top: 10%;
    }
    
    .fotocontador {
        width: 100%;
    }
    
    .countdown-number {
        font-size: 30px; 
    }
    
    .countdown-label {
        font-size: 15px; 
    }
    
    .botones-container {
        top: 189%;
    }
    
    .boton-izquierdo,.boton-derecho{
        margin: 10px 60px;
    }

    .boton {
        padding: 3px 10px;
        font-size: 8px;
    }
    
    .boton-encuesta {
        font-size: 12px;
        padding: 3px 10px;
    }
}

@media (min-width: 481px) and (max-width: 600px) {
    .fotopincel {
        margin-top: 10%;
    }
    
    .fotocontador {
        width: 100%;
    }
    
    .countdown-number {
        font-size: 35px; 
    }
    
    .countdown-label {
        font-size: 18px; 
    }
    
    .botones-container {
        top: 523%;
    }
    
    .boton-izquierdo,.boton-derecho{
        margin: 10px 75px;
    }

    .boton {
        padding: 3px 10px;
        font-size: 12px;
    }
    
    .boton-encuesta {
        font-size: 12px;
        padding: 4px 10px;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    .fotopincel {
        margin-top: 10%;
    }
    
    .fotocontador {
        width: 100%;
    }
    
    .countdown-number {
        font-size: 50px; 
    }
    
    .countdown-label {
        font-size: 20px; 
    }
    
    .botones-container {
        top: 703%;
    }
    
    .boton-izquierdo,.boton-derecho{
        margin: 10px 100px;
    }

    .boton {
        padding: 5px 14px;
        font-size: 14px;
    }
    
    .boton-encuesta {
        font-size: 14px;
        padding: 8px 12px;
    }
}
