body {
    margin: 0;
    font-family: Georgia, sans-serif;
    color: #9b7252;
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
} 
.fotopincel{
    margin-top: 5%;
}
.fotocontador img{
    width: 100%;
    height: auto;
    
}
.fotopincel {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia;
}

.countdown-item {
    margin: 0 20px;
}

.countdown-number {
    font-size: 70px;
    font-weight: bold;
    color: #565554;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia;
}

.countdown-label {
    font-size: 45px;
    color: #777;
    font-family: Georgia;
}

.flores {
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    align-items: center;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.texto-flores{
    margin-top: 10px;
    text-align: center;
    flex-direction: column;
    color: #9b7252;
    font-family: Georgia;
    font-size: 20px;
    letter-spacing: 0.35em;
}

.izquierda,.derecha{
    max-width: 20%;
    transform: rotate(180deg);
}
.izquierda {
    align-self: flex-start;
}

.derecha {
    align-self: flex-end;
}

.informacion{
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.texto-informacion{
    color: #9b7252;
    font-family: Georgia;
    line-height: 1;
    margin-bottom: 0;
}

.boton-izquierdo,
.boton-derecho {
    margin: 5px 100px;
    text-align: center;
}
.boton-izquierdo img,.boton-derecho img{
    max-width: 100%;
    height: auto;
}

.foto-galeria{
    margin-top: 30px;
}
.gallery-container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.boton {
    display: inline-block;
    padding: 20px 40px;
    background-color: #9b7252;
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: Georgia;
}

.nuestra-fiesta {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0;
    margin:0;
}
.nuestra-fiesta img {
    max-width: 100%;
    height: auto;
}

.texto-nuestra-fiesta {
    margin-top: 10px;
    color: #9b7252;
    font-family: Georgia;
}
  
.boton-encuesta {
    display: inline-block;
    margin-top: 10px;
    background-color: #9b7252;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 100px;
    padding: 20px 40px;
    font-family: Georgia;
}

.container-confirmar {
    position: relative;
    text-align: center;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .imagen1,
  .imagen2 {
    position: absolute;
    width: 290px;
  }
  
  .imagen1 {
    top: 0;
    left: 0;
    
  }
  
  .imagen2 {
    top: 0;
    right: 0;
  }
  
  .texto-nuestra-fiesta {
    margin-top: 20px;
    font-family: Georgia; 
    padding: 2px;
    margin: 0px;
    word-spacing: 0.1em;
    letter-spacing: 0.5em;
    font-size: 20px;
  }
  

@media(max-width:376px){
    .fotopincel {
        width: 90%;
        height: auto;
    }
    .countdown{
        display: flex;
    }
    .countdown-label{
        font-size: 10px;
    }
    .countdown-number{
        font-size: 15px;
    }
    .texto-flores{
        font-size: 10px;
    }
    .flores{
        display: flex;
        justify-content: space-between; 
        flex-direction: row;
        align-items: center;
        position: relative;
        max-width: 500px;
    }
    .informacion{
        display: flex;
        justify-content: space-between;
        position: relative;
        max-width: 375px;
        padding: 2px 2px;
    }
    .texto-informacion{
        font-size: 10px;
    }
    .boton-izquierdo img,.boton-derecho img{
        max-width: 25%;
        height: auto;
    }
    .boton-izquierdo,.boton-derecho{
        text-align: center;
        margin: 5px -70px;
    }
    .boton{
        font-size: 12px;
        padding: 4px 8px;
    }
    .texto-nuestra-fiesta{
        font-size: 8px;
    }
    .nuestra-fiesta{
        justify-content: center;
        text-align: center;
    }
    .boton-encuesta{
        font-size: 10px;
        padding: 4px 8px;
    }
    .container-confirmar{
        position: absolute;
        text-align: center;
        position: relative;
        max-width: 1000px;
    }
    .imagen1,
    .imagen2 {
        position: absolute;
        width: 100px;
    }
    .imagen1 {
        top: 0;
        left: 0;
    }
    .imagen2 {
        top: 0;
        right: 0;
    }
    .container-confirmar br:nth-child(2) {
        display: none;
      }
}

@media(min-width:377px) and (max-width:500px){
    .countdown-label{
        font-size: 15px;
    }
    .countdown-number{
        font-size: 18px;
    }
    .texto-flores{
        font-size: 15px;
    }
    .informacion{
        display: flex;
        justify-content: center;
        position: relative;
        max-width: 500px;
        padding: 2px 2px;
    }
    .texto-informacion{
        font-size: 15px;
    }
    .boton{
        font-size: 15px;
        padding: 6px 25px;
    }
    .boton-izquierdo img,.boton-derecho img{
        max-width: 25%;
        height: auto;
    }
    .boton-izquierdo,.boton-derecho{
        text-align: center;
        margin: 5px -70px;
    }
    .texto-nuestra-fiesta{
        font-size: 8.5px;
    }
    .nuestra-fiesta{
        justify-content: center;
        text-align: center;
    }
    .boton-encuesta{
        font-size: 12px;
        padding: 6px 25px;
    }
    .container-confirmar{
        position: absolute;
        text-align: center;
        position: relative;
        max-width: 1000px;
    }
    .imagen1,
    .imagen2 {
        position: absolute;
        width: 100px;
    }
    .imagen1 {
        top: 0;
        left: 0;
    }
    .imagen2 {
        top: 0;
        right: 0;
    }
}

@media(min-width:501px) and (max-width:1000px){
    .countdown-label{
        font-size: 15px;
    }
    .countdown-number{
        font-size: 18px;
    }
    .texto-flores{
        font-size: 15px;
    }
    .informacion{
        display: flex;
        justify-content: center;
        position: relative;
        max-width: 500px;
        padding: 2px 2px;
    }
    .texto-informacion{
        font-size: 15px;
    }
    .boton{
        font-size: 15px;
        padding: 8px 25px;
    }
    .boton-izquierdo img,.boton-derecho img{
        max-width: 25%;
        height: auto;
    }
    .boton-izquierdo,.boton-derecho{
        text-align: center;
        margin: 5px -70px;
    }
    .texto-nuestra-fiesta{
        font-size: 10px;
    }
    .nuestra-fiesta{
        justify-content: center;
        text-align: center;
    }
    .boton-encuesta{
        font-size: 12px;
        padding: 8px 25px;
    }
    .container-confirmar{
        position: absolute;
        text-align: center;
        position: relative;
        max-width: 1000px;
    }
    .imagen1,
    .imagen2 {
        position: absolute;
        width: 100px;
    }
    .imagen1 {
        top: 0;
        left: 0;
    }
    .imagen2 {
        top: 0;
        right: 0;
    }
}